{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<style>
  .forgot-password {
        background-color: #238080;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        align-self: center;
        cursor: pointer;
        border-radius: 4px;
    }

    .forgot-password:hover {
        background-color: #3e8e41;
    }

</style>
  <form method="post" action="{{ url_for('auth.forgot_password') }}">
    <h1  style="font-size: 40px; color: #ff5050;">FORGOT PASSWORD?</h1>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 50vh;">
      <div>
        <label for="email" style="font-weight: bold; font-size: 35px; color: rgb(19, 253, 218);">Email:</label>
        <br />
        <input type="email" id="email" name="email" required>
      </div>
      <span style="position: absolute; bottom: 0; margin-bottom: 20px;">
        <button class="forgot-password" type="submit">Send Reset Email</button>
      </span>
    </div>
    
    
  </form>
{% endblock %}

